@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

body {
    background-color: #f6f7f8;
    margin: 0;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
}

.mainSection {
    display: flex;
    flex: 1;
}

.contentRight {
    flex: 1;
    margin-top: 100px;
}

.addTaskHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px 50px 100px;
    max-width: 625px;
    height: 73px;
}

h1 {
    font-size: 60px;
}

.mainTask {
    width: 880px;
    height: 400px;
    margin-left: 96px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: space-between;
}

.descriptionTask {
    width: 440px;
    height: 376px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.separateLine {
    width: 1px;
    height: 424px;
    background-color: #D1D1D1;
    margin: 0 20px;
}

.infoTask {
    width: 440px;
    height: 400px;
    background-color: white;
}

input {
    width: 440px;
    border: 1px solid #d1d1d1b3;
    border-radius: 8px;
    font-size: 18px
}