@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

body {
    background-color: #f6f7f8;
    margin: 0;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainHeader {
    position: absolute;
    z-index: -1;
    background-color: #FFFFFF;
    width: 100%;
    height: 96px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textHeader {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    margin-left: 348px;
}

.infoRight {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    margin-right: 16px;
}

.helpIcon {
    width: 32px;
    height: 32px;
}

.userIcon {
    background-color: white;
    width: 56px;
    height: 56px;
    margin-left: 16px;
    border: 2px solid black;
    border-radius: 50%;
}

.navLeftSide {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 232px;
    height: 1024px;
    background-color: #2A3647;
}

.logo {
    background-image: url('../assets/img/Capa 2 white.png');
    width: 100px;
    height: 122px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.navButtonContainer {
    width: 232px;
    height: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 46px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}

.navButton:hover {
    background-color: #091931;
    cursor: pointer;
}

.navFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 232px;
    height: 317px;
    margin-top: 150px;
}

.navFooter a {
    text-decoration: none;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.footerContent {
    gap: 8px;
    text-align: start;
    display: flex;
    flex-direction: column;
}