.logo {
    width: 100px;
    padding: 64px;
    height: 125px;
}

.header_Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 64px;
}

.logInHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}